html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.lines {
  font-family:"Courier New";
  color:black;
  font-size:30px;
  text-shadow: 5px 5px darkgray;
}

.prompt {
  font-family:"Courier New";
  color:black;
  font-size:60px;
/*   text-shadow: 5px 5px darkgray; */
}

.button {
  font-family:"Courier New";
  color:black;
/*   font-weight: bold; */
  font-size: 14pt;
/*   background-color: #FFFFFF; */
  padding: 6px;
  text-align: center;
  border-radius: 8px;
  border:5;
}

.button:hover {
  background-color:lightpink;
}

.button:active {
  background-color:Tan;
}